@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Bungee+Shade&display=swap");

.paginaInicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
  margin: 0;
  text-align: center; /* Centraliza o texto */
  padding: 20px;
  box-sizing: border-box;
}

.paginaInicial img {
  max-width: 80%; /* Responsivo ao tamanho da tela */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  margin-bottom: 20px;
}

.paginaInicial img:hover {
  transform: scale(1.05); /* Zoom ao passar o mouse */
  box-shadow: 0 4px 12px #ffc0cb; /* Degradê com rosa claro */
}

.paginaInicial h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-align: center;
}

.bemVindo:hover {
  animation: piscar 1.5s infinite;
}

@keyframes piscar {
  0%,
  100% {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: #c20a6f; /* Rosa vibrante */
    text-shadow: 0 0 20px #c20a6f, 0 0 30px #c20a6f;
  }
}

/* Botões */
.buttonContainer {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  gap: 20px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

.loginButton,
.RegisterButton {
  padding: 15px 30px; /* Botões maiores */
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 15px; /* Bordas mais arredondadas */
  background-color: #c20a6f;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.loginButton:hover,
.RegisterButton:hover {
  background-color: #ff69b4; /* Rosa vibrante ao passar o mouse */
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .paginaInicial img {
    max-width: 90%;
  }

  .paginaInicial h1 {
    font-size: 2.5rem;
  }

  .loginButton,
  .RegisterButton {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .paginaInicial h1 {
    font-size: 2rem;
  }

  .loginButton,
  .RegisterButton {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
