.loginPage {
  display: flex; /* Torna o container um Flexbox */
  flex-direction: column; /* Organiza os itens em uma coluna */
  justify-content: center; /* Centraliza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  height: 100vh; /* Ocupa toda a altura da tela */
  background-color: rgba(255, 255, 255, 0.037); /* Fundo transparente */
}

.loginPage h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center; /* Centraliza o texto dentro do h1 */
  font-size: 3rem; /* Aumenta o tamanho do texto */
  color: #ffffff; /* Define a cor do texto */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
