.food-overlay {
  position: fixed; /* Faz a sobreposição funcionar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Sobre os outros elementos */
}

.food-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 500px;
}

.diet-total {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  color: #007bff;
}

.form-container {
  background-color: white;
  padding: 30px;
  width: 60%; /* Formulário maior */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
}

.final-food-list {
  border-top: 2px solid #ddd;
  padding-top: 10px;
  list-style: none;
}

.food-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 6px 0;
}

.food-name {
  flex: 2;
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buscarAlimento {
  width: 65%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.quantidade {
  flex: 1; /* Define espaço proporcional */
  width: auto;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 0.9rem;
}

.adicionar {
  flex: 1; /* Mantém o botão proporcional à quantidade */
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.adicionar:hover {
  background-color: #4cae4c;
}

.lixeira {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
  transition: color 0.3s ease;
}

.lixeira:hover {
  color: darkred;
}

.close-button {
  margin-top: 16px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}
