.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.form-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  position: relative;
}
h3 {
  color: #c20a6f;
}
.buscarAlimento {
  color: rgb(232, 134, 202);
}
.quantidade {
  color: rgb(232, 134, 202);
}
.adicionar {
  padding: 4px 8px; /* Botão menor */
  background-color: #63b963;
  color: white;
  border: none;
  border-radius: 15px; /* Arredondamento suave */
  font-size: 0.8rem; /* Fonte menor */
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.adicionar:hover {
  background-color: #63b963; /* Efeito de hover */
}
.close-button {
  background-color: #c20a6f;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #ff85c2;
}
